$primaryColor: #1c80cf;
$primaryColorVariant: #0f548b;
$secondaryColor: #4baaf5;
$backgroundBlueColor: #c2e3fd;
$backgroundBlueColorOpacity: #c2e3fde0;
$successColor: #4caf50;
$dangerColor: #d32f2f;
$warningColor: #fbc02d;
$black: #000000;
$titleBlack: #3c3c3c;
$lightGray: #dbdbdb;
$darkGray: #424242;
$white: #ffffff;
$gray: #707070;
$grayVariant: #757575;
$tableTitle: #e3e3e3;
$alternatingColor: #f7f7f7;
